.main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 20px;
  /* Other styling specific to the content */
}

.common {
  display: flex;
  align-items: left;
  flex-direction: column;
  min-height: 100vh;
  margin: 20px;
  padding: 20px;
  /* Other styling specific to the content */
}

.home-heading {
  margin-bottom: 50px;
}

.common h1 {
  margin-bottom: 20px;
}

.form-label {
  font-size: 20px;
  font-weight: bold;
}

input {
  max-width: 50%;
  border: 2px solid #000; 
}

textarea {
  max-width: 50%;
  border: 2px solid #000; 
}

.post.card {
  margin-bottom: 20px;
  padding: 15px;
  border: 2px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.post.card:hover {
  border-color: ##007bff; /* Change border color on hover */
  transition: border-color 0.3s; /* Smooth transition for border color */
}
